<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> User Info </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <h3>
                        Summary
                    </h3>
                    <p>{{userInfo.userName}}</p>
                    <p>First Name: {{userInfo.profile.given_name}}</p>
                    <p>Last Name: {{userInfo.profile.family_name}}</p>
                </div>
                <div class="col-md-12">
                    <p>aud: {{userInfo.profile.aud}}</p>
                    <p>tid: {{userInfo.profile.tid}}</p>
                    <p>iss: {{userInfo.profile.iss}}</p>
                    <p>exp: {{userInfo.profile.exp}}</p>
                    <p>ver: {{userInfo.profile.ver}}</p>
                    <p>unique_name: {{userInfo.profile.unique_name}}</p>
                </div>
                <div class="col-md-12">
                    <h3>
                        Token
                    </h3>                    
                    <input type="text" name="userName" ng-model="token" class="col-md-12">
                </div>
            </div>
        </div>

    </div>
</div>